h1 {
	color:rgb(2, 132, 130);
	text-align: center;
}

h2 {
	color: #ffd700;
	text-align: center;
}
p{
	text-align: center;
}

div{
	display: inline;
}

.board 	{
	height: 50%;
	width: 50%;
	display: inline-block;
	float: left;
	margin: 8%;

}

.card	{
	
	height: 200px;
	width: 150px;
	border: 2px solid rgb(0, 0, 0);
	background-color: rgb(255, 255, 0);
	border-radius: 10px;
	display: inline-block;
	margin:50px 38px 50px 38px;


}

.name  {
	color: #ff0000;
}

nav {
	background-color:#808080;
	font-family: Arial;

}
a{
	background-color: #ffbf00;
	color:white;
	display: block;
	float: left;
	text-decoration: none;
	padding: 20px;
}


 a:hover {
    background-color: #ee5f3c;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }

footer {

	background-color: #808080;
	clear: both;
	text-align: center;

}




